option_settings:
  # Environment variables
  aws:elasticbeanstalk:application:environment:
    SPRING_PROFILES_ACTIVE: prod
    SERVER_PORT: 5000
    JAVA_TOOL_OPTIONS: "-Xms256m -Xmx512m"
  
  # Instance configuration
  aws:autoscaling:launchconfiguration:
    InstanceType: t2.micro

container_commands:
  01_make_dir:
    command: mkdir -p /var/app/current/
  02_copy_jar:
    command: cp /var/app/staging/target/*.jar /var/app/current/
  03_set_permissions:
    command: chmod +x /var/app/current/*.jar
  04_set_permissions:
    command: chown webapp:webapp /var/app/current/*.jar 