option_settings:
  aws:elasticbeanstalk:application:environment:
    SPRING_PROFILES_ACTIVE: prod
    SERVER_PORT: 5000
  aws:elasticbeanstalk:container:java:
    JVM Options: -Xms256m -Xmx512m

files:
  "/etc/systemd/system/web.service":
    mode: "000644"
    owner: root
    group: root
    content: |
      [Unit]
      Description=Memory Game Backend
      After=network.target

      [Service]
      Type=simple
      User=webapp
      ExecStart=/usr/bin/java -jar /var/app/current/target/memory-game-backend-0.0.1-SNAPSHOT.jar
      SuccessExitStatus=143
      TimeoutStopSec=10
      Restart=on-failure
      RestartSec=5

      [Install]
      WantedBy=multi-user.target 